@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        src: url("../assets/fonts/IBMPlexMono-Regular.ttf");
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-weight: 500;
        src: url("../assets/fonts/IBMPlexMono-Medium.ttf");
    }
}

@layer base {

    * {
        cursor: none;
    }

    body {
        @apply bg-bgLight text-gray-900 dark:bg-black dark:text-gray-100 font-mono;
        @apply min-h-screen;
        transition: background-color 0.3s ease-out;
    }

    #cursor {
        position: fixed;
        width: 32px;
        height: 32px;
        transform: translate(-50%, -50%);
        background-image: url("../assets/images/banana1.gif");
        pointer-events: none;
        z-index: 999;
    }
}

@layer base {
    .post-content h1 {
        @apply text-2xl font-bold mb-6;
    }

    .post-content h2 {
        @apply text-xl font-bold mb-6;
    }

    .post-content p {
        @apply mb-6;
    }
}



